body{
    background-color: darkslategrey;
}

h1 {
    color: deepskyblue;
}

h2 {
    color: greenyellow;
}

p {
    color: coral;
}

#flex {
    padding-left: 2%;
    width: 20%;
    display: flex; 
    align-items: center; 
    align-content: flex-start;
    justify-content: space-between;
}